{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Easy OAuth</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <h1>Easy OAuth</h1>
        <nav>
            <ul>
                <li><a href="/project">Projects</a></li>
                <li><a href="/integration">Integrations</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
    {% block content %}
    {% endblock content %}
    </section>
</body>

</html>