*,
*::before,
*::after {
  box-sizing: border-box; // 1
}


body {
    color:#424242;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fcfcfc;
}

code {
    font-family: monospace;
    background: #ededed;
    padding: 1em;
    margin-bottom: 2.5em;
    display: block;
}

a {
    color:#424242;
}

a.btn {
    text-decoration: none;
}

input[type="submit"] {
    border: none;
}

label {
    font-weight: bold;
}

form p {
    width: 100%;
}

input[type="text"], input[type="number"], input[type="password"],  input[type="email"], select, textarea {
    width: 100%;
    display: block;
    min-height: 30px;
    margin-top: 0.5em;
    padding-left: 0.7em;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    background: #1c1c1c
}

header h1 {
    margin: 0.45em 0;
    font-size: 1.6em;
    color: #FFFFFF;
}

header nav li {
    display: inline;
    margin-right: 1em;
}

header nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    padding: 1em;
}

.btn {
    padding: 0.7em;
    border-radius: 5px;
    font-size: 0.8em;
}

.btn-success {
    color: white;
    background: green;
    display: inline-block;
}

.btn-success:hover {
    background: darkgreen;
}

.button-wrapper {
    position: absolute;
    display: flex;
    bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    padding: 8px;
}

thead {
    text-align: left;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.helptext {
    margin-top: 7px;
    display: block;
}

#login {
    margin: 0 auto;
    max-width: 400px;
}

.wrapper-left {
    float: left;
    width: 50%;
    padding-right: 1em;
}

.wrapper-right {
    float: right;
    width: 50%;
    padding-left: 1em;
}

#login form {
    width: auto;
}